#root{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 100vh;
}

.modal {
  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    width: 100%;
    max-width: 480px;
    padding: 40px 80px;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__close {
   margin: 20px;
   margin-left: auto;
cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 4px;
      background: gray;
      transform: rotate(-45deg);
    }
    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 4px;
      background: gray;
      transform: rotate(45deg);
    }
  }
&__title{
font-weight: 400;
font-size: 32px;
color: rgba(25, 25, 25, 1);
}
&__image{
margin-bottom: 60px;
}
&__body{
  color:rgba(127, 127, 127, 1);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;
}
&__footer{
  display: flex;
gap: 40px;
}
&__first-btn{
  cursor: pointer;
border-radius: 8px;
background-color:rgba(138, 51, 253, 1) ;
color:rgba(255, 255, 255, 1);
font-size: 16px;
font-weight: 500;
width: 192px;
height: 48px;
border: none
}
&__second-btn{
  cursor: pointer;
  border-radius: 8px;
  background-color:rgba(255, 255, 255, 1) ;
  color:rgba(138, 51, 253, 1);
  font-size: 16px;
  font-weight: 500;
  width: 192px;
  height: 48px;
  border: 1px solid rgba(60, 66, 66, 1);
  }
}
